<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 
 
<!--  <listener>
 	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener> -->
 <servlet>
 	<servlet-name>dispatcherServlet</servlet-name>
 	<servlet-class>
 		org.springframework.web.servlet.DispatcherServlet
 	</servlet-class>
 	<!-- contextConfigLocation 配置springMVC加载的配置文件，在加载的配置文件中需要配置处理器映射器、适配器等等，如果不配置的话，默认加载WEB-INF目录下的servlet名称 -servlet.xml.此处不配置的话，默认加载WEB-INF/spring-servlet.xml -->
 	<init-param>
 		<param-name>contextConfigLocation</param-name>
 		<param-value>classpath:bean4.xml</param-value><!-- 配置文件所在的路径 -->
 	</init-param>
 	<load-on-startup>1</load-on-startup>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>dispatcherServlet</servlet-name>
 	<!-- 
 		第一种：*.action 访问以action结尾由DispatcherServlet进行解析
 		第二种：/  所有访问的地址都有DispatcherServlet进行解析，对于静态文件（图片、js等文件）的解析需要配置不让DispatcherServlet进行解析，使用此种方法可以实现RESTful风格的url
 		第三种：/* 这样配置不对，使用这种配置，最终要转发到一个jsp页面时，仍然会由dispatcherServlet解析jsp地址，不能根据jsp页面找到handler，会报错
 	 -->
 	<url-pattern>/</url-pattern>
 </servlet-mapping>
<context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>classpath:bean4.xml</param-value>
</context-param>
<listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>